.ExpensesForm {
    border-radius: 9px;
}
.firstLineDiv {
    display: flex;
    justify-content: space-between;
}
.buttons {
    padding-top: 28px;
    display: flex;
    gap: 14px;
    justify-content: end;
}